body{
    width: 1024px;
    margin-left: 150px;
    margin-right: 20px;
    min-height: 1000px;
}

header{
    width: 1024px;
    height: 193px;
}

.cadretitre{
    width: 1024px;
    height: 147px;
    background: #FFD59E;
    display: block;
}



h1{
    height: 86px;
    width: 306px;
    color: #FF6738;
    font-family: "Francois One";
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    margin-top: 7px;
    margin-left: 20px;
    float: left;
}

.cadretitre>p{
font-family: "Francois One";
font-style: normal;
font-weight: normal;
font-size: 34px;
line-height: 48px;
width: 611px;
height: 15px;
margin-left: 346px;
color: #FF6738;
}

hr{
    width: 676px;
    height: 9px;
    background-color:#FF6738;
    border: #FF6738;
}

#headerhr{
    margin-top: -110px;
    margin-left: 346px;
}


nav{
    width: 1024px;
    height: 47px;
    background: #FF6738;
    margin-top: -16px;
}


nav li{
    display: inline-block;
    padding-left: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
}

nav li:hover{
    background-color: #27b35c;
}

nav a{
    color: #FFFF;
    font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
   
}
section{
    width: 1024px;
}

.premiereimage{
    width: 1024px;
    height: 300px;
    margin-right: 300px;
    
}


.premierbloc{
    width: 100%;
    margin-top: 15px;
    display: block;
    height: 297px;
}

.cadreimagegauche{
    float: left;
    width: 327px;
    height: 300px;

}
#imagederose{
    width: 327px;
    height: 297px;
    
}

.textededroite{
    width: 657px;
    height: 300px;
    float: right;
    height: 97%;
    margin-left: 25px;
    margin-right: 15px;
    text-align: justify;
}

.textededroite>h2{
    font-family: Montserrat;
    font-style: normal;
    clear: both;
    font-weight: bold;
    color: #FFA938;
    font-size: 36px; 
    margin-top: -8px;   
}

.textededroite>p{
    margin-top: -27px; 
}

.textededroite>hr{
    margin-top: 5px; 
}


.imagedefond{
    background-image: url("../images/montagne.png");
    background-color: #922828;
    width: 1031px;
    height: 364px;
    margin-top: 15px;
}

h2{
color: #FF6738;
}

#lefondateur{
    position: absolute;
    text-transform: uppercase;
    width: 405px;
    height: 63px;
    margin-left: 696px;
    margin-top: 315px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 36px;
    font-weight: bolder;
}

.blocdescription{
    height: 427px;
    width: 860px;
    background-color: #FFD59E;
    display: block;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 25px;
}

.textegauche{
    float: left;
    width: 415px;
    height: 401px;
    margin-right: 11px;
    text-align: justify;
}

.textedroite{
    float: right;
    width: 415px;
    height: 401px;
    margin-left: 11px;
    text-align: justify;
}

.boiteservice, .containercontact{
    height: 117px;
    width: 939px;
    display: block;
    margin-top: 20px;
    padding-top: 22px;
}

.nosservices, .nouscontacter{
    font-family: "Francois One";
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 162.4%;
    margin-left: 85px;
    float: left;
    margin-top: -11px; 
}

.nouscontacter{
    margin-left: 40px;
}

.ligneepaisse{
    width: 250px;
    height: 54px;
    padding-left: 386px; 
    float: right;
    margin-right: -8px;
}

.boxtarifs{
    height: 117px;
    width: 950px;
    display: block;
    margin-right: 99px;

    
}
.nostarifs{
    font-family: "Francois One";
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 162.4%;
    float: right;
}

.ligneepaissegauche{
    width: 650px;
    height: 54px;
    float: left;
    margin-right: 200px;
    
}

.blocarticle{
    display: inline-block;
    width: 100%;
}


.blocgauche{
    float: left;
    width: 506px;
    height: 292px;
    margin-bottom: 10px;
}

.blocdroite{
    float: right;
    width: 506px;
    height: 292px;
}

.blocgauche>h2, .blocdroite>h2{
    margin-top: -10px; 
    width: 500px;
    height: 62px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 162.4%;
    text-transform: uppercase; 
    padding-left: 15px;
}

.blocgauche>p, .blocdroite>p{
    margin-top: -40px;
    padding-left: 18px;
    padding-right: 12px;
    text-align: justify;
}

table{
    width:100%;
    background-color: #FFEB38; 
    border-collapse: collapse;
}

#margetableau{
    margin-bottom: 20px;
}

th, td{
    border: 1px solid black;
    font-family: Arial;
    font-style: normal;
    font-size: 13px;
}

caption{
    width: 100%;
    background-color: #FFD59E;
    color: #FF6738;
    font-size: 30px;
    font-family:"Francois one";
   
   
}

.tbheader{
    width: 100px;
}

td:hover{
    background-color: aquamarine;
}

.forfait{
    width: 100px;

}

.prix{
    width: 80px;
}

.avantages{
    width: 500px;
}


.nomprenom{
    display: inline-block;
    width: 1022px;
}


#nom{
    Width: 30%;
    Height: 35px;
    background: #FFD59E;
    border-radius: 5px;
    text-transform: uppercase;
   
}

#prenom{
    Width: 55%;
    Height: 35px;
    background: #FFD59E;
    border-radius: 5px;
    margin-left: 15px;
    text-transform: uppercase;
    
}


#telephone, #courriel{
    background: #FFD59E;
    border-radius: 5px;
    Width: 510px;
    Height: 35px;
    margin-top: 20px;
    text-transform: uppercase;
}

#message{
   width: 975px; 
   height: 285px;
    margin-top: 10px;
    background: #FFD59E;
    border-radius: 5px;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.submit{
    background: #FF6738;
    border-radius: 5px;
    Width: 220px;
    Height: 86px;
    font-size: 24px;
    font-family: Montserrat;
    color: #FFFFFF;
    margin-top:31px;
    margin-left: 627px;
    margin-right: 35px;
}

.formulaire{
    margin-top: -300px;
}


footer{
    width: 1024px;
    height:300px;
    background-color: #C4C4C4;
    padding-top: 8px;
    margin-top: 27px;
}

.footerhead{
    display: block;
    height: 72px;
    margin-top: 37px;
}

#lignefooter{
    margin-top: -2px;
    margin-right: 1px;
}


.logo{
    margin-top: -25px;
}

#addresse{
    float: left;
    margin-left: -300px;
    margin-top: -25px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
}









